*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    font-size: 1.2rem;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  form {
    padding: 0;
  }

  fieldset {
    border: none;
    display: table-cell;
  }

  legend {
    display: table;
    box-sizing: border-box;
    padding: 0;

    p {
      margin-top: 3em;
      margin-bottom: 0.25em;
    }
  }

@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf');
}

.hero {
    background-image: url("bg.jpg");
    background-size: cover;
    flex-basis: 33%;
    position: relative;
}

.hero-header {
    margin-top: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-header img {
    height: calc(100% - 30px);
    margin: 15px;
    margin-left: 0;
}

.hero-header h1 {
    align-self: center;
    color: white;
    font-family: 'Norse-Bold';
    font-size: 4em;
    margin-bottom: -1rem;
}

.hero-caption {
    position: absolute;
    bottom: 1em;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.8em;
    text-wrap: nowrap;

    a {
        color: white;
    }
}

.content {
    flex-basis: 67%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-header {
    padding: 1.5em;
    padding-bottom: 0;

    p {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 1em;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
}

.form-section {
    background-color: white;
    padding: 1.5em;
    padding-top: 0;
    box-shadow: 0 5px 5px lightgrey;
}

.form-layout {
  display: flex;
  flex-wrap: wrap;
}

.form-col {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.form-col:nth-of-type(odd) {
  padding-right: 2em;
}

input {
  border-style: solid;
  border-color: #E5E7EB;
  border-width: 1px;
  border-radius: 5px;
}

input:focus {
  outline: 0;
  border-color: blue;
  box-shadow: 2px 2px 2px lightgrey;
}

input[type=password]:invalid {
   border-color: red;
}

.submit-section {
  padding: 1.5em;
}

.submit-btn {
  margin-bottom: 1em;
  background-color: #455c54;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 7px;
  border: none;
  box-shadow: 5px 5px 5px lightgrey;
}

.submit-section a {
  color: #455c54;
}
